<nav class="navbar navbar-expand-lg bg-body-secondary px-3 px-lg-1">
    <div class="container-fluid">
        <a class="navbar-brand text-danger fs-3 fw-bold" routerLink="/">Netflix</a>
        <button class="navbar-toggler border-0 shadow-none" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="ri-menu-4-line fs-4 text-danger"></i>
        </button>

        <div class="collapse navbar-collapse pt-2 pt-lg-0" id="navbarSupportedContent">
            <!-- Mobile Content -->
            <div class="d-flex flex-column w-100 d-lg-none">
                <ul class="navbar-nav mb-3 gap-2">
                    <li class="nav-item">
                        <a class="nav-link active text-dark px-3 py-2" routerLink="/">Movies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark px-3 py-2" routerLink="/">TV Series</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark px-3 py-2" routerLink="/">Documentary</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark px-3 py-2 position-relative" routerLink="/favorite">
                            Favorites
                            <span
                                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                99+
                            </span>
                        </a>
                    </li>
                </ul>

                <form class="mb-3" *ngIf="isLoggedIn">
                    <div class="position-relative">
                        <i
                            class="ri-search-line fs-5 position-absolute top-50 start-0 translate-middle-y ps-3 text-muted"></i>
                        <input class="form-control rounded-3 py-2 ps-5" type="search" placeholder="Search Movie..."
                            aria-label="Search" (input)="debouncedFunc($event)">
                    </div>
                </form>

                <button class="btn btn-danger py-2 fw-bold" (click)="logout()" *ngIf="isLoggedIn">
                    <i class="ri-logout-box-r-line me-2"></i>Logout
                </button>
            </div>

            <!-- Desktop Content -->
            <div class="d-none d-lg-flex w-100 align-items-center">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-3 gap-lg-3">
                    <li class="nav-item">
                        <a class="nav-link active text-dark" routerLink="/">Movies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" routerLink="/">TV Series</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" routerLink="/">Documentary</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark position-relative" routerLink="/favorite">
                            Favorites
                            <!-- <span
                                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                99+
                            </span> -->
                        </a>
                    </li>
                </ul>

                <select class="form-select" style="width: 200px;" aria-label="Default select example"
                    [(ngModel)]="selectedGenre" (change)="genreChange()" *ngIf="currentLocation == '/favorite'">
                    <option selected disabled>Filter Movie</option>
                    <option value="All">All</option>
                    <option value="Action">Action</option>
                    <option value="Adventure">Adventure</option>
                    <option value="Animation">Animation</option>
                    <option value="Science Fiction">Sci-fi</option>
                </select>

                <form class="d-flex ms-lg-3" style="min-width: 150px;" *ngIf="isLoggedIn">
                    <div class="position-relative w-100">
                        <i class="ri-search-line fs-5 position-absolute top-50 start-0 translate-middle-y ps-3"></i>
                        <input class="form-control rounded-2 py-2 ps-5" type="search" placeholder="Search Movie..."
                            aria-label="Search" (input)="debouncedFunc($event)">
                    </div>
                </form>

                <!-- <button class="btn btn-outline-danger ms-3" (click)="logout()" *ngIf="isLoggedIn">
                    <i class="ri-logout-box-r-line me-2"></i>Logout
                </button>-->

                <button class="btn btn-outline-primary fw-bold ms-3" (click)="signup()" *ngIf="!isLoggedIn">
                    <i class="ri-user-add-line me-2"></i>Sign Up
                </button>

                <div class="dropdown text-end" *ngIf="isLoggedIn">
                    <button class="bg-transparent border-0 dropdown-toggle d-flex align-items-center" type="button"
                        id="userMenu" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="3dusericon.jpg" alt="User" class="rounded-circle me-2" width="40" height="40">
                    </button>

                    <ul class="dropdown-menu dropdown-menu-end text-small show-on-click" aria-labelledby="userMenu"
                        style="display: none;">
                        <li class="px-3 py-1">
                            <img src="3dusericon.jpg" alt="User" class="rounded-circle me-2" width="40" height="40">
                            <strong>{{user.username}}</strong><br>
                            <small class="text-muted user-email">{{user.email}}</small>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item text-primary" style="cursor: pointer;"
                                (click)="changePassword()">Change password</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item text-primary" style="cursor: pointer;"
                                routerLink="/reset-password">Reset password</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item text-danger" style="cursor: pointer;" (click)="logout()">Logout</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

</nav>

<div class="searchBox w-full d-flex flex-column gap-5 py-5" *ngIf="searchedMovie.length > 0">

    <div routerLink="/movie-details/{{search.id}}" class="searchItems d-flex gap-5 px-4" style="cursor: pointer;" *ngFor="let search of searchedMovie">

        <div>
            <img src="https://image.tmdb.org/t/p/original/{{search.poster_path}}" alt="." width="100" >
        </div>

        <div>
            <h3>{{search.title}}</h3>
            <p>{{search.overview}}</p>
        </div>

    </div>

</div>