<nav class="navbar navbar-expand-lg bg-body-secondary px-1">
    <div class="container-fluid">
        <a class="navbar-brand text-danger fs-4" routerLink="/">Netflix</a>
        <button class="navbar-toggler border-0 shadow-none" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="ri-menu-4-line fs-4 text-danger"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-3 gap-lg-3 ps-0 ps-md-3">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Movies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">TV Series</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Documentary</a>
                </li>
            </ul>

            <form class="d-flex flex-grow-1 flex-lg-grow-0 ms-lg-3" style="min-width: 150px;" *ngIf="isLoggedIn">
                <div class="position-relative w-100">
                    <i class="ri-search-line fs-5 position-absolute top-50 start-0 translate-middle-y ps-3"
                        style="z-index: 2;"></i>
                    <input class="form-control rounded-2 py-2 ps-5" type="search" placeholder="Search Movie..."
                        aria-label="Search" (input)="debouncedFunc($event)" style="position: relative; z-index: 1;">
                </div>
            </form>

            <button class="btn btn-danger ms-3" (click)="logut()" *ngIf="isLoggedIn">logout</button>
        </div>
    </div>
</nav>


<!-- Search Results Box -->

<div *ngIf="searchedMovie[0]"
    class="searchBox w-100 h-75 overflow-auto position-absolute z-3 d-flex flex-column gap-5 py-5">

    <div class="searchItems" role="button" *ngFor="let movie of searchedMovie">
        <a href="/movie-details/{{movie.id}}" class="d-flex align-items-center gap-5 px-5 text-decoration-none">
            <img src="https://image.tmdb.org/t/p/original/{{movie.poster_path}}" style=" width: 60px;">

            <div>
                <h2 class="fs-4 text-dark">{{movie.title}}</h2>
                <p class="text-dark d-none d-md-block">{{movie.overview}}</p>
            </div>

        </a>
    </div>

</div>