body {
    overflow-x: hidden;
}

.container-fluid {
    overflow: hidden;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.214);
    backdrop-filter: blur(10px);
}

.carousel-caption p {
    font-size: 14px;
}

.accordion-button:focus {
    outline: none;
    box-shadow: none;
}

.container-fluid {
    position: relative;
}

.formBox {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(255, 255, 255), white, white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    pointer-events: all;
}

.errorMessage {
    font-size: 12px;
    color: red;
    text-align: left;
    margin-top: -20px;
    // position: absolute;
    // top: 20px;
}

.carousel-item img {
    width: 100%;
    height: 85vh;
    // object-fit: cover;
}



/* Small screen adjustment */
@media (max-width: 768px) {
    .carousel-item img {
        height: 65vh;
    }
}

@media (min-width: 2000px) {
    .xxl-display-4 {
        font-size: 4rem;
        font-weight: bold;
        margin-bottom: 1.5rem;
    }

    .xxl-fs-2 {
        font-size: 2rem !important;
        margin: 0 auto 2rem;
    }

    .xxl-btn-lg {
        padding: 0.70rem 1.5rem;
        font-size: 2rem;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        width: 3rem;
        height: 3rem;
    }

    .accordion-item h4 a {

        font-size: 40px;

    }

}