<div class="container-fluid pb-5 px-0 px-md-3" style="background-color: white; overflow-x: hidden;">
    <!-- Carousel Section -->
    <div class="row">
        <div class="col-12 px-0">
            <div id="carouselExampleCaptions" class="carousel slide">
                <div class="carousel-inner">
                    <div class="carousel-item" *ngFor="let banner of bannerData; index as i"
                        [ngClass]="{'active':i==0}">
                        <img src="https://image.tmdb.org/t/p/original/{{banner.backdrop_path}}"
                            class="d-block w-100 rounded-0 rounded-md-3 mt-0" alt="...">
                        <div class="carousel-caption d-none d-md-block mb-3 mb-md-5 rounded-3 px-4">
                            <h4 class="text-danger d-block xxl-display-4">{{banner.title || "No Title Found"}}</h4>
                            <p class="d-none d-lg-block xxl-fs-2">{{banner.overview}}</p>
                            <div class="d-flex gap-2 gap-md-4 justify-content-center">
                                <a class="btn btn-success btn-sm btn-md xxl-btn-lg"
                                    (click)="bannerWatchBtn(bannerData[i].id)">Watch</a>
                                <button class="btn btn-warning btn-sm btn-md xxl-btn-lg">Download <i
                                        class="ri-download-2-line"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>


    <!-- Movie Sections -->
    <div class="row mt-4 mt-md-5 mx-0">
        <div class="accordion" id="accordionExample" *ngIf="hideShowAccordion">
            <!-- Trending Movies (Always Visible) -->
            <div class="accordion-item border-0 mb-3 mb-md-4 position-relative">
                <h2 class="accordion-header mb-5 mb-md-5 border-bottom">
                    <button class="accordion-button bg-white p-2 p-md-3" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <h4 class="act fs-5 fs-md-4 mb-0"><a class="text-dark text-decoration-none"
                                routerLink="/trending">Trending Movies</a></h4>
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    <div class="accordion-body pt-0 px-0 px-md-2">
                        <div
                            class="row row-cols-3 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-6 gap-5 gap-md-5 d-flex justify-content-center">
                            <div *ngFor="let trending of trendingData; let i = index"
                                class="col d-flex justify-content-center">
                                <app-skeleton-card *ngIf="!arrTrending[i]"></app-skeleton-card>
                                <app-movie-card (click)="clickedMovie()" *ngIf="arrTrending[i]"
                                    [routerLink]="[`/movie-details/${trending.id}`]"
                                    [movieDetails]="trending"></app-movie-card>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Forms Section -->
                <div *ngIf="!isLoggedIn" class="row mt-4 mx-0">
                    <div class="col-12 px-0 px-md-3">
                        <app-signup *ngIf="showSignupForm" (signupSuccess)="onSignupSuccess()"
                            (showLoginForm)="toggleToLogin()"></app-signup>
                        <app-login *ngIf="showLoginForm" (loginSuccess)="onLoginSuccess()"
                            (showSignupForm)="toggleToSignup()"></app-login>
                    </div>
                </div>

            </div>

            <!-- Other Movie Sections (Only After Login) -->
            <div *ngIf="movieCount < 3 || isLoggedIn">
                <!-- Action Movies -->
                <div class="accordion-item border-0 mb-3 mb-md-4">
                    <h2 class="accordion-header mb-5 mb-md-5 border-bottom">
                        <button class="accordion-button bg-white p-2 p-md-3" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
                            <h4 class="fs-5 fs-md-4 mb-0"><a class="text-dark text-decoration-none"
                                    routerLink="/action">Action Movies</a></h4>
                        </button>
                    </h2>
                    <div id="collapseOne1" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body pt-0 px-0 px-md-2">
                            <div
                                class="row row-cols-3 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-6 gap-5 gap-md-5 d-flex justify-content-center">
                                <div *ngFor="let action of actionData; let i = index"
                                    class="col d-flex justify-content-center">
                                    <app-skeleton-card *ngIf="!arrAction[i]"></app-skeleton-card>
                                    <app-movie-card (click)="clickedMovie()" *ngIf="arrAction[i]"
                                        [routerLink]="[`/movie-details/${action.id}`]"
                                        [movieDetails]="action"></app-movie-card>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Adventure Movies -->
                <div class="accordion-item border-0 mb-3 mb-md-4">
                    <h2 class="accordion-header mb-5 mb-md-5 border-bottom">
                        <button class="accordion-button bg-white p-2 p-md-3" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne2" aria-expanded="true" aria-controls="collapseOne2">
                            <h4 class="fs-5 fs-md-4 mb-0"><a class="text-dark text-decoration-none"
                                    routerLink="/adventure">Adventure Movies</a></h4>
                        </button>
                    </h2>
                    <div id="collapseOne2" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body pt-0 px-0 px-md-2">
                            <div
                                class="row row-cols-3 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-6 gap-5 gap-md-5 d-flex justify-content-center">
                                <div *ngFor="let adventure of adventureData; let i = index"
                                    class="col d-flex justify-content-center">
                                    <app-skeleton-card *ngIf="!arrAdventure[i]"></app-skeleton-card>
                                    <app-movie-card (click)="clickedMovie()" *ngIf="arrAdventure[i]"
                                        [routerLink]="[`/movie-details/${adventure.id}`]"
                                        [movieDetails]="adventure"></app-movie-card>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Animation Movies -->
                <div class="accordion-item border-0 mb-3 mb-md-4">
                    <h2 class="accordion-header mb-5 mb-md-5 border-bottom">
                        <button class="accordion-button bg-white p-2 p-md-3" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne3" aria-expanded="true" aria-controls="collapseOne3">
                            <h4 class="fs-5 fs-md-4 mb-0"><a class="text-dark text-decoration-none"
                                    routerLink="/animation">Animation Movies</a></h4>
                        </button>
                    </h2>
                    <div id="collapseOne3" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body pt-0 px-0 px-md-2">
                            <div
                                class="row row-cols-3 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-6 gap-5 gap-md-5 d-flex justify-content-center">
                                <div *ngFor="let animation of animationData; let i = index"
                                    class="col d-flex justify-content-center">
                                    <app-skeleton-card *ngIf="!arrAnimation[i]"></app-skeleton-card>
                                    <app-movie-card (click)="clickedMovie()" *ngIf="arrAnimation[i]"
                                        [routerLink]="[`/movie-details/${animation.id}`]"
                                        [movieDetails]="animation"></app-movie-card>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- SciFi Movies -->
                <div class="accordion-item border-0 mb-3 mb-md-4">
                    <h2 class="accordion-header mb-5 mb-md-5 border-bottom">
                        <button class="accordion-button bg-white p-2 p-md-3" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne4" aria-expanded="true" aria-controls="collapseOne4">
                            <h4 class="fs-5 fs-md-4 mb-0"><a class="text-dark text-decoration-none"
                                    routerLink="/scifi">SciFi Movies</a></h4>
                        </button>
                    </h2>
                    <div id="collapseOne4" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body pt-0 px-0 px-md-2">
                            <div
                                class="row row-cols-3 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-6 gap-5 gap-md-5 d-flex justify-content-center">
                                <div *ngFor="let scifi of sciFiData; let i = index"
                                    class="col d-flex justify-content-center">
                                    <app-skeleton-card *ngIf="!arrSciFi[i]"></app-skeleton-card>
                                    <app-movie-card (click)="clickedMovie()" *ngIf="arrSciFi[i]"
                                        [routerLink]="[`/movie-details/${scifi.id}`]"
                                        [movieDetails]="scifi"></app-movie-card>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="shortcutModal" tabindex="-1" aria-labelledby="shortcutModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="shortcutModalLabel">Advance Filter</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                        (click)="isModalOpen = false"></button>
                </div>
                <div class="modal-body">

                    <div class="container">
                        <form [formGroup]="advanceFilterForm" (ngSubmit)="advanceFilterFormSubmit()">
                            <!-- Status Select -->
                            <div class="mb-3">
                                <label for="statusSelect" class="form-label">Status</label>
                                <select class="form-select" id="statusSelect" formControlName="status">
                                    <option value="" selected>Select Status</option>

                                    <!-- <option *ngFor="let status of allStatuses" [value]="status">{{status}}</option> -->
                                    <option value="Released">Released</option>
                                    <option value="Post Production">Post Production</option>
                                </select>
                            </div>

                            <!-- From Date and To Date Inputs -->
                            <div class="row mb-3">
                                <div class="col">
                                    <label for="fromYearSelect" class="form-label">From Year</label>
                                    <select class="form-select" id="fromYearSelect" formControlName="fromDate">
                                        <option value="" selected>Select Year</option>
                                        <option *ngFor="let year of years" [value]="year">{{year}}</option>
                                    </select>
                                </div>

                                <div class="col">
                                    <label for="toYearSelect" class="form-label">To Year</label>
                                    <select class="form-select" id="toYearSelect" formControlName="toDate">
                                        <option value="" selected>Select Year</option>
                                        <option *ngFor="let year of years" [value]="year">{{year}}</option>
                                    </select>
                                </div>
                            </div>


                            <!-- Language Select -->
                            <div class="mb-3">
                                <label for="languageSelect" class="form-label">Language</label>
                                <select class="form-select" id="languageSelect" formControlName="language">
                                    <option value="" selected>Select Language</option>
                                    <option value="en">English</option>
                                    <option value="hindi">Hindi</option>
                                    <option value="spanish">Spanish</option>
                                    <option value="french">French</option>
                                    <!-- Tum aur bhi languages add kar sakte ho -->
                                </select>
                            </div>

                            <!-- Genre Select -->
                            <div class="mb-3">
                                <label for="genreSelect" class="form-label">Genre</label>
                                <select class="form-select" id="genreSelect" formControlName="genre">
                                    <option value="" selected>Select Genre</option>
                                    <option value="action">Action</option>
                                    <option value="adventure">Adventure</option>
                                    <option value="animation">Animation</option>
                                    <option value="Science Fiction">Sci-fi</option>
                                    <!-- Tum aur genres add kar sakte ho -->
                                </select>
                            </div>

                            <!-- Filter Button -->
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary">Apply Filters</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>



</div>