<div class="card rounded-4 overflow-hidden position-relative" style="width: 12rem; height: 15rem; cursor: pointer;">

    <i *ngIf="currentRoute !== '/favorite'" [class]="isFavorite ? 'ri-heart-fill':'ri-heart-line'" (click)="addToFav($event,movieDetails?.id)"></i>

    <img src="https://image.tmdb.org/t/p/original/{{movieDetails?.poster_path}}" class="img-fluid"
        alt="{{movieDetails?.title}}">
    <div class="card-body position-absolute bottom-0 d-flex align-items-center justify-content-between">
        <h5 class="card-title">{{movieDetails?.title}}</h5>
        <div class="icon text-dark d-flex align-items-center justify-content-center">
            <i class="ri-play-fill fs-4"></i>
        </div>
    </div>
</div>