<div class="main">

    <div class="generate-otp-wrapper" *ngIf="generateOtpForm">
        <div class="generate-otp-card">
            <h2>📤 Generate OTP</h2>

            <input type="email" [(ngModel)]="userEmail" placeholder="Enter your email" class="email-input"/>

            <button (click)="generateOtp()" class="generate-btn">
                Generate OTP
            </button>
        </div>
    </div>


    <div class="verify-otp-wrapper" *ngIf="varificationForm">
        <div class="verify-otp-card">
            <h2>🔐 Verify OTP</h2>

            <input type="text" maxlength="6" [(ngModel)]="otp"  class="otp-input"
                placeholder="______" />

            <div class="otp-display">
                <span>Your OTP is: </span>
                <span class="otp-code">{{ receivedOtp }}</span>
                <button (click)="copyOtp()" title="Copy OTP" class="copy-btn">
                    📋
                </button>
            </div>

            <button (click)="verifyOtp()" class="verify-btn">Verify OTP</button>
        </div>
    </div>

    <div class="generate-otp-wrapper" *ngIf="resetPasswordForm">
        <div class="generate-otp-card">
            <h2>🔐 Set New Password</h2>

            <input type="password" [(ngModel)]="userNewPassword" placeholder="Enter your password"
                class="email-input" minlength="6" required/>
                <p *ngIf="userNewPassword && userNewPassword.length < 6" style="color: red;">
                    Password must be at least 6 characters long.
                  </p>

            <button (click)="resetPassword()" class="generate-btn" [disabled]="!userNewPassword || userNewPassword.length < 6">Reset Password</button>

              
        </div>
    </div>
</div>